@font-face {
  font-family: "SourceSansPro-Light";
  src: url('../public/fonts/SourceSansPro-Light.otf');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "SourceSansPro";
  src: url('../public/fonts/SourceSansPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url('../public/fonts/SourceSansPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
  }

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'SourceSansPro', sans-serif;

  --redish: rgb(238,45,28);
  --blackish: rgb(76,76,81);
  --blueish: rgb(136,147,158);

  --primary-gradient: linear-gradient(
    #EE2E1D, ##FFB1B5
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--blackish);
  font-family: 'SourceSansPro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.redish-bg {
  background: #EE2D1C;
}

.blackish-bg {
  background: #EE2D1C;
}

.bluish-bg {
  background: #EE2D1C;
}

h1 {
  font-family: 'SourceSansPro-Light', sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: white;
  margin-bottom: 22px;
}

h2 {
  font-family: 'SourceSansPro-Light', sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: var(--blackish);
  margin-bottom: 22px;
}

p {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: var(--blackish);
}

a {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: var(--blueish);
}

a:hover {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: var(--blackish);
}

button {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 22px;
  background: var(--redish);
  padding: 0 25px;
  text-align: center;
  color: white;
  min-height: 55px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

hr {
  border: 1px solid #E8E8E8
}